* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --custom-green: #C2EEE4;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
  margin-left: 10px;
}

ul {
  margin-left: 40px;
}

body {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 1.1rem;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

a {
  color: rgb(86, 86, 206);
}

.container {
    width: 380px;
    margin: auto;
}

.section {
    padding: 50px 0 50px 0;
}

.section-green {
  background-color: var(--custom-green);
}

#whoami div * {
    line-height: 2rem;
}

.flex {
    display: flex;
    flex-direction: column;
}

#photo img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 5% 40% 5% 5%;
}

#presentation {
    padding: 50px 0 50px 0;
}

.flex-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill {
    margin: 5px 20px;
    padding: 5px 10px;
    background-color: var(--custom-green);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.skill:hover {
    background-color: #FFFFFF;
    border: 1px solid var(--custom-green);
}

@media only screen and (min-width: 576px) {
  .container {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 550px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 980px;
  }
}